.wrapper {
  height: 100dvh;
}

.swiper {
  height: 100%;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}
